@font-face {
  font-family: "Proxima Nova Lt";
  src: url("../fonts/subset-ProximaNova-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova sb";
  src: url("../fonts/subset-ProximaNova-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/subset-ProximaNova-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova Rg";
  src: url("../fonts/subset-ProximaNova-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

body {
  font-family: "Proxima Nova Rg";
}

.container {
  max-width: 1572px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.header {
  background: url("../img/football.png") no-repeat #0a0e34;
  background-size: cover;
}
.header__inner {
  padding-top: 55px;
  padding-bottom: 110px;
  display: flex;
  flex-direction: column;
}
.header__logo {
  display: flex;
}
.header__logo__text {
  margin-left: auto;
  color: #ffffff;
  font-family: "Proxima Nova Lt";
  font-size: 14px;
  font-weight: 300;
  line-height: 35px;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}
.header__title {
  margin-top: 305px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.header__title h1 {
  position: relative;
  z-index: 2;
}
.header__title h2 {
  align-self: flex-end;
  position: relative;
}
.header__title::before {
  content: "";
  width: 5px;
  height: 400px;
  background-color: #5e42b0;
  position: absolute;
  left: 510px;
  transform: rotate(40deg);
  top: -110px;
  z-index: 1;
}
.header__buttons {
  display: flex;
  justify-content: center;
  margin-top: 180px;
}

.title {
  color: #ffffff;
  font-family: "Proxima Nova";
  font-size: 90px;
  font-weight: 700;
  line-height: 100px;
  text-transform: uppercase;
  letter-spacing: 4.96px;
  position: relative;
}

.nav {
  margin-top: 15px;
}
.nav__items {
  display: flex;
  justify-content: flex-end;
}
.nav__item {
  margin-left: 45px;
}
.nav__item:first-child {
  margin-left: 0px;
}
.nav .link {
  color: #9071ea;
  font-family: "Proxima Nova Lt";
  font-size: 14px;
  font-weight: 300;
  line-height: 35px;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  text-decoration: none;
}

.button {
  background-color: #5e42b0;
  background-image: url("../img/Icon-Apple.png");
  background-repeat: no-repeat;
  background-position: 40px;
  border: none;
  border-radius: 40px;
  box-shadow: 0 16px 24px #0a0e34;
  width: 311px;
  padding: 24px 0;
}
.button:focus {
  outline: none;
}
.button__text {
  color: #ffffff;
  font-family: "Proxima Nova Lt";
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}
.button__text_bold {
  font-family: "Proxima Nova Rg";
  font-weight: 400;
}
.button_icon {
  background-image: url("../img/Icon-Google_Play.png");
  margin-left: 50px;
}

@media (max-width: 1139px) {
  .header {
    background-image: url(../img/bgi2.png);
  }
  .header__title {
    font-size: 64px;
    letter-spacing: 3.2px;
  }
  .header__title h1 {
    align-self: center;
  }
  .header__title h2 {
    width: 70%;
  }
  .header__title::before {
    top: -60px;
    z-index: 0;
    left: 435px;
    transform: rotate(33deg);
  }

  .nav {
    margin-top: 180px;
  }
  .nav .link {
    font-size: 16px;
  }

  .nav__item {
    margin-left: 60px;
  }

  .nav__items {
    justify-content: center;
  }

  .button_icon {
    margin-left: 30px;
  }

  .title {
    font-size: 64px;
  }
}
@media (max-width: 767px) {
  .container {
    padding: 0 10px;
  }

  .header {
    background-image: url(../img/bgi3.png);
  }
  .header__inner {
    padding-bottom: 10px;
    padding-top: 40px;
  }
  .header__title {
    margin-top: 125px;
  }
  .header__title h1 {
    align-self: flex-start;
  }
  .header__title h2 {
    width: 85% px;
  }
  .header__title::before {
    width: 3px;
    height: 200px;
    top: -35px;
    left: 145px;
    transform: rotate(37deg);
  }
  .header__logo {
    justify-content: center;
  }
  .header__logo__text {
    display: none;
  }
  .header__buttons {
    margin-top: 104px;
  }

  .title {
    font-size: 32px;
    letter-spacing: 1.76px;
    line-height: 46px;
  }

  .nav {
    margin-top: 45px;
    order: 1;
  }
  .nav .link {
    font-size: 12px;
  }
  .nav__items {
    flex-wrap: wrap;
  }
  .nav__item {
    margin-left: 33px;
  }

  .button {
    padding: 10px 0px 10px 20px;
    background-size: 12%;
    background-position: 15px;
  }
  .button__text {
    font-size: 8px;
  }
  .button_icon {
    margin-left: 8px;
  }
}
/*Athlets*/
.main__inner {
  overflow: hidden;
}

.athlets {
  padding-top: 100px;
}
.athlets .title,
.athlets .card {
  padding-left: 50%;
}
.athlets .title {
  color: #e7e7e7;
}
.athlets .subtitle {
  color: #c1c1c1;
}
.athlets .card {
  display: flex;
  flex-direction: column;
}
.athlets .card__headline {
  display: flex;
  margin-bottom: 30px;
}
.athlets .card .text {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 1px;
}
.athlets .card__number {
  margin-right: 13px;
}
.athlets .card__number-text {
  font-family: "Proxima Nova";
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.9px;
}
.athlets .card__number-text::after {
  content: "";
  display: block;
  height: 5px;
  border-radius: 2px;
  background-color: #5e42b0;
}

.plus::before {
  content: "+";
  font-size: 40px;
  color: #9173e6;
  position: absolute;
  left: 160px;
  top: 10px;
}
.plus::after {
  content: "+";
  font-size: 40px;
  color: #d5cced;
  position: absolute;
  left: 130px;
  top: 0;
}

.image_football::before {
  content: "";
  display: block;
  background-image: url("../img/footballer.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 725px;
  height: 1105px;
  position: absolute;
  top: -150px;
  right: 50%;
  z-index: 2;
}

.image_football::after {
  content: "";
  display: block;
  background-color: #9172e6;
  position: absolute;
  width: 5px;
  height: 885px;
  top: -140px;
  left: 20%;
  transform: rotate(45deg);
  z-index: 1;
}

.image_basketball::before {
  content: "";
  display: block;
  background-image: url("../img/player2.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 991px;
  height: 815px;
  position: absolute;
  left: 70%;
  top: -130px;
  z-index: 2;
}

.line {
  min-height: 130px;
  padding: 60px 0;
}

.line_second_color {
  background-color: #f5f4f9;
}

.line_third_color {
  background-color: #5e42b0;
}
.line_third_color .text {
  color: #ffffff;
}
.line_third_color .card__number-text::after {
  background-color: #fff;
}

.basketball .plus::before {
  left: 810px;
  top: -60px;
}
.basketball .plus::after {
  left: 840px;
  top: -40px;
}
.basketball .title,
.basketball .card {
  padding-left: 0;
  width: 50%;
}
.basketball .line_third_color {
  background-color: #0a0e34;
}
.basketball .line_second_color {
  background-color: #f5f4f9;
}
.basketball .image_basketball::after {
  content: "";
  background-image: url(../img/line.png);
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  height: 680px;
  width: 740px;
  position: absolute;
  top: -50px;
  left: 700px;
}

.slider {
  display: none;
}
.slider .basketball {
  overflow: hidden;
}

@media (max-width: 1139px) {
  .football .title,
.football .card {
    padding-left: 40%;
  }

  .athlets {
    padding-top: 70px;
  }
  .athlets .title {
    font-size: 90px;
    letter-spacing: 0.2px;
  }
  .athlets .card .text {
    font-size: 18px;
  }

  .line {
    padding: 40px 0;
  }

  .image_football::before {
    width: 497px;
    height: 699px;
    right: 55%;
    top: 40px;
    background-size: cover;
  }

  .image_football::after {
    top: -80px;
    left: -50px;
  }

  .plus::before {
    left: 35px;
    top: -5px;
  }
  .plus::after {
    top: -20px;
    left: 10px;
  }

  .basketball .image_basketball::before {
    width: 690px;
    height: 565px;
    left: 80%;
    top: -25px;
    background-size: contain;
  }
  .basketball .plus::before {
    left: 500px;
    top: -10px;
  }
  .basketball .plus::after {
    left: 520px;
    top: 5px;
  }
  .basketball .image_basketball::after {
    top: -200px;
    left: 415px;
  }
}
@media (max-width: 767px) {
  .football .title,
.football .card {
    padding-left: 0;
  }
  .football .line_first,
.football .line_third {
    display: none;
  }

  .line {
    padding: 70px 0;
  }

  .athlets {
    padding-top: 20px;
  }
  .athlets .title {
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 240px;
  }
  .athlets .card {
    width: 100%;
  }
  .athlets .card__number-text {
    font-size: 14px;
  }
  .athlets .card .subtitle {
    font-size: 28px;
  }
  .athlets .card .text {
    font-size: 15px;
    line-height: 18px;
  }
  .athlets .image_football::before {
    width: 192px;
    height: 281px;
    left: 50px;
    top: 70px;
    background-size: cover;
  }
  .athlets .image_football::after {
    top: 45px;
    height: 270px;
    width: 3px;
    left: 133px;
  }

  .slider {
    display: block;
    align-self: center;
    margin-top: 30px;
    display: flex;
  }
  .slider .radio {
    width: 10px;
    height: 10px;
    background-color: #d8d8d8;
    border-radius: 50%;
    margin-right: 12px;
  }
  .slider .radio:last-child {
    margin-right: 0;
  }
  .slider .active {
    background-color: #5c3caf;
  }

  .radio:hover {
    background-color: #5c3caf;
  }

  .basketball .line_first,
.basketball .line_second {
    display: none;
  }
  .basketball .line_third_color {
    background-color: #f5f4f9;
  }
  .basketball .line_third_color .subtitle {
    color: #c1c1c1;
  }
  .basketball .line_third_color .text {
    color: black;
  }
  .basketball .line_third_color .card__number-text::after {
    background-color: #5e42b0;
  }
  .basketball .plus::before {
    left: 60px;
    top: 60px;
  }
  .basketball .plus::after {
    left: 35px;
    top: 50px;
  }

  .basketball .image_basketball::before {
    width: 302px;
    height: 248px;
    top: 80px;
    left: -10px;
  }
  .basketball .image_basketball::after {
    width: 230px;
    height: 211px;
    left: 40px;
    top: 100px;
  }

  .plus::before {
    left: 55px;
    top: 60px;
  }
  .plus::after {
    top: 50px;
    left: 30px;
  }
}
/*third block*/
.block {
  display: flex;
}
.block:nth-child(2n) {
  flex-direction: row-reverse;
}

.block:nth-child(2n) .block__number {
  left: auto;
  right: -84px;
}

.block__image {
  width: 50%;
  background-image: url("../img/im1.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  min-height: 730px;
}
.block__image-picture_second {
  background-image: url("../img/im2.png");
}
.block__image-picture_third {
  background-image: url("../img/img3.png");
}

.block__content {
  width: 50%;
  position: relative;
  padding: 250px 20px 120px 127px;
  max-width: 765px;
}

.block:nth-child(2n) .block__content {
  padding: 250px 127px 120px 20px;
}

.block__title {
  color: #c1c1c1;
  font-family: "Proxima Nova";
  font-size: 90px;
  text-transform: uppercase;
}

.block__description {
  font-family: "Proxima Nova Rg";
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 1.2px;
  margin-top: 20px;
  min-height: 170px;
  position: relative;
  padding-bottom: 20px;
}
.block__description::after {
  content: "";
  display: block;
  width: 22px;
  height: 5px;
  border-radius: 2px;
  background-color: #5e42b0;
  position: absolute;
  left: 0;
  bottom: 0;
}

.block__number {
  width: 168px;
  height: 155px;
  background-color: #5e42b0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -84px;
}
.block__number-text {
  color: #f5f6f7;
  font-family: "Proxima Nova";
  font-size: 24px;
  line-height: 35px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}
.block__number-text::after {
  content: "";
  display: block;
  height: 5px;
  border-radius: 2px;
  background-color: #8e7bc8;
}

@media (max-width: 1139px) {
  .block,
.block:nth-child(2n) {
    flex-direction: column;
  }

  .block__content,
.block:nth-child(2n) .block__content {
    padding: 87px 0 60px 20px;
    width: 100%;
    max-width: 100%;
  }

  .block__image {
    min-height: 584px;
    width: 100%;
  }

  .block__number,
.block:nth-child(2n) .block__number {
    width: 116px;
    height: 116px;
    top: -84px;
    left: 20px;
  }
}
@media (max-width: 767px) {
  .block__content,
.block:nth-child(2n) .block__content {
    padding: 35px 0 50px 20px;
  }

  .block__number,
.block:nth-child(2n) .block__number {
    width: 70px;
    height: 70px;
    top: -55px;
  }
  .block__number-text,
.block:nth-child(2n) .block__number-text {
    font-size: 14px;
  }

  .block__title {
    font-size: 28px;
  }

  .block__description {
    font-size: 16px;
    line-height: 20px;
  }

  .block__image {
    min-height: 350px;
  }
}
/*footer*/
.footer {
  background-color: #09173f;
  background-image: url("../img/photo-1417716226287-2f8cd2e80274.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.footer__inner-big {
  padding-top: 230px;
  padding-bottom: 197px;
}

.footer__headline {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headline {
  position: relative;
}
.headline .title {
  z-index: 3;
}
.headline::before {
  content: "";
  width: 8px;
  display: block;
  height: 220px;
  background-color: #5e42b0;
  position: absolute;
  transform: rotate(40deg);
  top: -50px;
  left: 90px;
  z-index: 0;
  opacity: 0.8;
}
.headline::after {
  content: "";
  width: 8px;
  display: block;
  height: 420px;
  background-color: #5e42b0;
  position: absolute;
  transform: rotate(40deg);
  top: -160px;
  right: 256px;
  z-index: 1;
  opacity: 0.8;
}

.subtitle {
  color: #a496ca;
  font-family: "Proxima Nova";
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.icon {
  background-image: url("../img/Artwork.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 130px;
  height: 137px;
  margin-right: 36px;
}

.footer__buttons {
  margin-top: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer__inner-small {
  background-color: rgba(10, 14, 52, 0.6);
  padding: 70px 0;
}

.wrap {
  display: flex;
  justify-content: space-between;
}

.social__link {
  margin-right: 35px;
}
.social__link:last-child {
  margin-right: 0;
}

.contact {
  color: #ffffff;
  font-family: "Proxima Nova Rg";
  font-size: 20px;
  letter-spacing: 1px;
  text-decoration: none;
}

@media (max-width: 1139px) {
  .footer__inner-big {
    padding-top: 128px;
    padding-bottom: 197px;
  }

  .footer__headline {
    flex-direction: column;
  }
  .footer__headline .icon {
    margin-right: 0;
    margin-bottom: 70px;
  }

  .headline .title {
    font-size: 80px;
    letter-spacing: 4.85px;
  }
  .headline::after {
    height: 400px;
    top: -120px;
  }

  .footer__buttons {
    margin-top: 175px;
  }

  .footer__inner-small {
    padding: 35px 0;
  }

  .wrap {
    justify-content: center;
  }

  .logo,
.contacts {
    display: none;
  }
}
@media (max-width: 767px) {
  .footer__inner-big {
    padding-top: 97px;
    padding-bottom: 127px;
  }

  .icon {
    width: 73px;
    height: 78px;
    background-size: cover;
  }

  .headline .title {
    font-size: 34px;
    letter-spacing: 1.7px;
    line-height: 68px;
  }
  .headline::before {
    width: 5px;
    height: 90px;
    left: 30px;
    top: -2px;
  }
  .headline::after {
    width: 5px;
    height: 400px;
    top: -25px;
    height: 135px;
    right: 110px;
  }
  .headline .subtitle {
    font-size: 15px;
    letter-spacing: 0.75px;
    line-height: 15px;
  }

  .footer__buttons {
    margin-top: 72px;
  }

  .footer__inner-small {
    padding: 20px 0 15px;
  }

  .social__link {
    width: 20px;
    height: 20px;
  }
  .social__link-img {
    height: 17px;
  }

  .button {
    width: 142px;
  }
}

/*# sourceMappingURL=style.css.map */
